body {
	background-image: url(images/background.jpg);
	background-size: cover;
	/*background-repeat: no-repeat;*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}

h1 {
	margin: 0;
	color: #D9ECA3;
	font-family: 'Josefin Slab', serif;
}

.gameColumn {
	margin: 50px 0;
	text-align: center;
	color: #eee;
	background-color: rgba(80, 80, 80, .4);
	width: 60%;
	height: 500px;
	position: relative;
	left: 15%;
	padding: 10px 5%;
}

#incorreectGuesses {
	font-weight: bold;
	color: red;
}


#letter0, #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20 {
	font-size: 2em;
	/*color: transparent;*/
	margin-right: 5px;
	min-width: 10px;
	padding: 5px;
	text-transform: uppercase;
}

.wrongLetter {
	margin-right: 10px;
	text-transform: uppercase;
}

#message {
	margin-top: 10px;
	}

#letterInPlay {
	margin-top: 20px;
}