body {
	background-image: url(images/background.jpg);
	background-size: cover;
	/*background-repeat: no-repeat;*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	color: #D9ECA3;
}

.gameColumn {
	margin: 50px 0;
	text-align: center;
	color: #ddd;
	background-color: rgba(20, 20, 20, .4);
	width: 60%;
	height: 500px;
	position: relative;
	left: 15%;
	padding: 0 5%;
}

.hidden {
	size: 2em;
	/*color: transparent;*/
	margin-right: 5px;
	min-width: 10px;
	border-bottom: 2px solid black;
	padding: 5px;
	text-transform: uppercase;
}

.wrongLetter {
	margin-right: 10px;
	text-transform: uppercase;
}

.shown {
	color: purple;
}

#letterInPlay:nth-child(1) {
	color: purple;
}